.Audio{

}
.button{
    display:inline-block;
    line-height: 30px; 
    margin: 0 10px;
    .pre{
        display: inline-block;
        width:18px;
        height:18px;
        border-radius: 50%;
        background: red; 
        opacity: 0.9;
        vertical-align: middle;
        position: relative;
        cursor:pointer;
        &:before{
            content: '';
            display: inline-block;
            width:2px;
            height:8px;
            background: #fff;
            position: absolute;
            left:6px;
            top: 5px;
        }
        &:after{
            content: '';
            display: inline-block;
            border:4px solid #fff;
            border-color:transparent #fff transparent transparent;
            position: absolute;
            right:6px;
            top: 5px;
        }
        &:hover{
           opacity: 1;
        }
    }
    .play{
        display: inline-block;
        width:24px;
        height:24px;
        border-radius: 50%;
        background: red; 
        vertical-align: middle;
        margin: 0 15px;
        position: relative;
        opacity: 0.9;
        &:before{
            content: '';
            display: inline-block;
            width:2px;
            height:12px;
            background: #fff;
            position: absolute;
            left:8px;
            top: 6px;
        }
        &:after{
            content: '';
            display: inline-block;
            width:2px;
            height:12px;
            background: #fff;
            position: absolute;
            left:14px;
            top: 6px;
        }
        &:hover{
            opacity: 1;
         }
    }
    .next{
        display: inline-block;
        width:20px;
        height:20px;
        border-radius: 50%;
        background: red; 
        vertical-align: middle;
        position: relative;
        cursor:pointer;
        opacity: 0.9;
        &:before{
            content: '';
            display: inline-block;
            width:2px;
            height:8px;
            background: #fff;
            position: absolute;
            left:12px;
            top: 5px;
        }
        &:after{
            content: '';
            display: inline-block;
            border:4px solid #fff;
            border-color:transparent transparent transparent #fff;
            position: absolute;
            right:6px;
            top: 5px;
        }
        &:hover{
            opacity: 1;
         }
    }
}

.progress{
    width:300px;
    position: relative;
    line-height: 30px; 
    display: inline-block; 
    .progress-nav{
        height: 2px;
        background: red;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        border-radius: 2px;
    
    }
}