.header{
    height: 30px;
    background: #c62f2f;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
    padding-left: 33px;
}
@media screen and (max-width: 1000px) {
    .header{
        height: 80px;
        line-height: 80px;
        font-size: 30px;
        padding-left: 88px;
    }
}